<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.akwing.sms.mapper.CourseMapper">
    <resultMap id="BaseResultMap" type="Course">
        <id column="id" jdbcType="VARCHAR" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="dept" jdbcType="VARCHAR" property="dept" />
        <result column="address" jdbcType="VARCHAR" property="address" />
        <result column="credit" jdbcType="DECIMAL" property="credit" />
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from course
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="Course">
        insert into course (id, name, dept,
                            address, credit)
        values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{dept,jdbcType=VARCHAR},
                #{address,jdbcType=VARCHAR}, #{credit,jdbcType=DECIMAL})
    </insert>
    <update id="updateByPrimaryKey" parameterType="Course">
        update course
        set name = #{name,jdbcType=VARCHAR},
            dept = #{dept,jdbcType=VARCHAR},
            address = #{address,jdbcType=VARCHAR},
            credit = #{credit,jdbcType=DECIMAL}
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select id, name, dept, address, credit
        from course
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select id, name, dept, address, credit
        from course
    </select>
</mapper>